/*text-align e text-ident */

#solucoes{
    width: px;
    position: absolute;
    top: 45%;
    left: 30%;
}

body{
    text-align:center;
    text-align: justify;
    
   

}
    


h2{text-align: justify;
   text-align: center;

   }

   h5{text-align: justify;
    text-align: center;
}

 card{align:"middle";


 }  


table{text-align: center;

}

<tr>
<th>Primeira 200px</th>
<th>Segunda 150px</th>
<th>Terceira 120px</th>
</tr>

