#telalogin{
    width: 400px;
    position: absolute;
    top: 30%;
    left: 35%;
    
}

body{
    background-color: #F0F8FF;
       }


a{
    border: solid 2px #0e0e0f;
    text-decoration: none;
    background-color: #0e0e0f ;
    color:white;
        
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 135px;
    padding-right: 135px;
}


div{
    background-color:#66a5e4;
    color:rgb(4, 4, 4);
}